h1{font-family: 'Blaka', cursive;
font-size: 50px; font-weight: 100;
}
p{font-family: 'Kdam Thmor Pro', sans-serif;
}
small{font-family: 'Kdam Thmor Pro', sans-serif;}
#t1{text-align: center;
}
span{color: blue;}
#bk{background-color: blue; color: aliceblue;}
.pe{background-color: black; color: white; text-align: center;}
body{
    margin:2% 20% 5% 20%;
}


