nav{
    background-color: #ffffff;
    ;
}
ul{
    list-style: none;
    font-size: 0;
    padding: 0;
    margin: 0;
    text-align: center;
  }
  ul li{
    box-sizing: border-box;
    background-color: rgb(128, 9, 240);
    margin: 1px 1%;   
    padding: 2px 5px; 
    display: inline-block;
    border: 1px solid #c0c0c0;
    box-shadow: 0px 4px 4px rgb(50, 50, 50)
      }
  ul li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
  }
