.carta{
    box-sizing: border-box;
    width: 250px;
    height: 280px;
    margin: auto;
    padding:80px 20px 20px 20px;
    border: 1px solid rgb(82, 81, 81);       
 }
 .titulo{
     text-align: center;     
     font-size: 18px;
     box-sizing: border-box;
     margin: 1% 0% 50px 15px;
      }

.temail{
    font-size:15px;
    box-sizing: border-box;
    margin: 25px 0% 10px 15px;
    }
.email{
    box-sizing: border-box;
    margin: 10px 100% 10px 15px;
    
}
.enviar{
    box-sizing: border-box;
    margin: 10px 100% 10px 15px;
}